.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
	position:relative;
	width:100%;
	padding-right:15px;
	padding-left:15px
}

.col-md-6{
	-ms-flex:0 0 50%;
	flex:0 0 50%;
	max-width:50%
}

.w-100{
    width:100%!important
}

@media(max-width:767px){
    .article-overlapped-list img.w-100{
        margin-bottom:20px
    }
}

.article-overlapped-list .card-block{
    padding:30px;
    margin-left:-60px;
    background:#fff
}
@media(max-width:991px){
    .article-overlapped-list .card-block{
        margin-left:0;
        padding:0
    }
}
@media(max-width:767px){
    .article-overlapped-list img.w-100{
        margin-bottom:20px
    }
}

.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}

.mb-5,.my-5{
    margin-bottom:3rem!important
}
.align-items-center{
    -ms-flex-align:center!important;
    align-items:center!important
}
.card-overlapped .card-block{
    background:#fff;
    padding:15px;
    width:88%;
    box-shadow:0 10px 50px rgba(0,0,0,7%);
    margin-top:-25px;
    z-index:3;
    position:relative;
    left:6%
}
@media(max-width:575px){
    .card-overlapped .card-block{
        width:94%;
        left:3%;
        margin-top:-20px
    }
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    margin-bottom:.5rem;
    font-weight:500;
    line-height:1.2
}
.h4{
    font-size:1.5rem
}
.post-meta{
    color:#666
}
.post-meta a{
    color:inherit
}
.post-meta a:hover{
    color:#e8505b
}
.mt-3,.my-3{
    margin-top:1rem!important
}
.post-title{
    color:#000
}
.post-title:hover{
    text-decoration:underline
}
.mr-1,.mx-1{
    margin-right:.25rem!important
}
.ml-1,.mx-1{
    margin-left:.25rem!important
}
