{{ if .Site.Params.talks.enable | default false }}
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/talks.css" media="all">
<section id="talks" class="container">
	<div class="title">
		<h1>{{ .Site.Params.talks.title | default "Talks" }}<h1>
	</div>
	{{ range $index, $element := .Site.Params.talks.items }}
	<div class="moment-row">
		<div class="pure-g">
			{{/* time info shown in the left (or above in small screens) */}}
			<div class="pure-u-1 pure-u-sm-1-4">
				<div class="moment-time">
					{{ $date := (time .conference.date) }}
					<div class="moment-month-day">{{ $date.Format "Jan 2" }}{{ if in (slice 1 21 31) $date.Day }}st{{
						else if in (slice 2 22) $date.Day }}nd{{ else if in (slice 3 23) $date.Day }}rd{{ else }}th{{
						end }}
					</div>
					<div class="moment-year">{{ $date.Format "2006" }}</div>
				</div>
			</div>

			{{/* moment-main-content */}}
			<div class="pure-u-1 pure-u-sm-3-4">
				<div class="moment-content">
					<div class="moment-user-info">
						{{ if .conference.logo }}
						<div class="moment-avatar-block">
							{{ with .conference.logo }}
							<img src='{{ . }}' class="moment-avatar">
							{{ else }}
							{{/* fixme check whether the default avatar path is url or not */}}
							<img src='{{ $.Site.BaseURL }}/{{ .Site.Params.avatar }}' class="moment-avatar">
							{{ end }}
						</div>
						{{ end }}
						<div class="moment-intro">
							<div class="moment-name">{{ .title }}</div>
							<a href="{{ .conference.url }}" class="moment-context"
								style="color: {{ .conference.color }};">{{ .conference.name }}</a>
						</div>
					</div>


					<div class="moment-links">
<style>
.moment-link-{{ $index }}:hover {
	border: 2px solid;
	padding: 9px 11px 9px 11px;
	border-color: var(--text-color) !important;
	color: {{ .conference.color }} !important;
	transition: none;
}

</style>
						{{ if .video }}
						<a href="{{ .video.url }}" target="_blank" class="moment-link-{{ $index }} moment-link btn">
							{{ .video.title | default "Video" }}
						</a>
						{{ end }}
						{{ if .slides }}
						<a href="{{ .slides.url }}" target="_blank" class="moment-link-{{ $index }} moment-link btn">
							{{ .slides.title | default "Slides" }}
						</a>
						{{ end }}

					</div>

					<hr class="seperating_line">

				</div>
			</div>
		</div>

	</div>
	{{ end }}
</section>
{{ end }}
