{{ if .Site.Params.talks.enable | default false }}
<section id="talks" class="container">
	{{ range $index, $element := .Site.Params.talks.items }}
	<div class="moment-row">
		<div class="pure-g">
			{{/* time info shown in the left (or above in small screens) */}}
			<div class="pure-u-1 pure-u-sm-1-3">
				<div class="moment-time">
					{{ $date := (time .conference.date) }}
					<div class="moment-month-day">{{ $date.Format "Jan 2" }}{{ if in (slice 1 21 31) $date.Day }}st{{
						else if in (slice 2 22) $date.Day }}nd{{ else if in (slice 3 23) $date.Day }}rd{{ else }}th{{
						end }}
					</div>
					<div class="moment-year">{{ $date.Format "2006" }}</div>
				</div>
			</div>

			{{/* moment-main-content */}}
			<div class="pure-u-1 pure-u-sm-2-3">
				<div class="moment-content">
					{{/* top mark */}}
					<!-- {{ if gt .Params.top 0}} -->
					<!-- <div class="top-mark" style="position: absolute; right: 5%;"> -->
					<!-- 	<i class="fas fa-bookmark" style="color: #e76b4f;"></i> -->
					<!-- </div> -->
					<!-- {{ end }} -->

					{{/* user info */}}
					<div class="moment-user-info">
						{{ if .conference.logo }}
						<div class="moment-avatar-block">
							{{ with .conference.logo }}
							<img src='{{ . }}' class="moment-avatar">
							{{ else }}
							{{/* fixme check whether the default avatar path is url or not */}}
							<img src='{{ $.Site.BaseURL }}/{{ .Site.Params.avatar }}' class="moment-avatar">
							{{ end }}
						</div>
						{{ end }}
						<div class="moment-intro">
							<div class="moment-name">{{ .title }}</div>
							<a href="{{ .conference.url }}" class="moment-context"
								style="color: {{ .conference.color }};">{{ .conference.name }}</a>
						</div>
					</div>

					<div>
						{{ $tags_filtered := slice}}
						{{ with .Params.tags }}
						{{ range . }}
						{{ with .}}
						{{ $tags_filtered = $tags_filtered | append . }}
						{{ end }}
						{{ end }}
						{{ end }}
						{{ with $tags_filtered }}
						{{ range . }}<span class="moment-tag text-muted">{{ . }}</span>{{ end }}
						{{ end }}
					</div>
					{{/* Main text content */}}

					<div class="moment-links">
<style>
.moment-link-{{ $index }}:hover {
	border: 2px solid;
	padding-bottom: 9px;
	padding-top: 9px;
	padding-left: 11px;
	padding-right: 11px;
	border-color: var(--primary-color) !important;
	color: {{ .conference.color }} !important;
}

</style>
						{{ if .video }}
						<a href="{{ .video.url }}" target="_blank" class="moment-link-{{ $index }} moment-link btn">
							{{ .video.title | default "Video" }}
						</a>
						{{ end }}
						{{ if .slides }}
						<a href="{{ .slides.url }}" target="_blank" class="moment-link-{{ $index }} moment-link btn">
							{{ .slides.title | default "Slides" }}
						</a>
						{{ end }}

					</div>

					<hr class="seperating_line">

				</div>
			</div>
		</div>

	</div>
	{{ end }}
</section>
{{ end }}
