{{ if .Site.Params.talks.enable | default false }}
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/talks.css" media="all">
<section id="talks" class="container">
	<div class="title">
		<h1>{{ .Site.Params.talks.title | default "Talks" }}<h1>
	</div>
	{{ range $index, $element := .Site.Params.talks.items }}
	<div class="talk">
		<div class="pure-g">
			{{/* time info shown in the left (or above in small screens) */}}
			<div class="pure-u-1 pure-u-sm-1-4">
				<div class="date">
					{{ $date := (time .conference.date) }}
					<div class="date-top">{{ $date.Format "Jan 2" }}{{ if in (slice 1 21 31) $date.Day }}st{{
						else if in (slice 2 22) $date.Day }}nd{{ else if in (slice 3 23) $date.Day }}rd{{ else }}th{{
						end }}
					</div>
					<div class="date-bottom">{{ $date.Format "2006" }}</div>
				</div>
			</div>

			<div class="pure-u-1 pure-u-sm-3-4">
				<div class="content">
					{{ if .keynote }}
					<div class="talk-icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="{{ .conference.color }}" viewBox="0 0 16 16">
							<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg>
						<span class="talk-icon-tooltip">Keynote</span>
					</div>
					{{ end }}
					{{ if .webinar }}
					<div class="talk-icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="{{ .conference.color }}" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
						</svg>
						<span class="talk-icon-tooltip">Webinar</span>
					</div>
					{{ end }}
					<div class="info">
						{{ if .conference.logo }}
							{{ with .conference.logo }}
							<img src='{{ . }}' class="conference-logo">
							{{ else }}
							{{/* fixme check whether the default avatar path is url or not */}}
							<img src='{{ $.Site.BaseURL }}/{{ .Site.Params.avatar }}' class="conference-logo">
							{{ end }}
						{{ end }}
						<div class="conference-title">
							<div class="conference-name">{{ .title }}</div>
							<a href="{{ .conference.url }}" class="conference-link" target="_blank"
								style="color: {{ .conference.color }};">{{ .conference.name }}</a>
						</div>
					</div>


					<div class="links">
<style>
.talk-link-{{ $index }}:hover {
	border: 2px solid;
	padding: 9px 11px 9px 11px;
	border-color: var(--text-color) !important;
	color: {{ .conference.color }} !important;
	transition: none;
}

</style>
						{{ if .video }}
						<a href="{{ .video.url }}" target="_blank" class="talk-link-{{ $index }} talk-link btn">
							{{ .video.title | default "Video" }}
						</a>
						{{ end }}
						{{ if .slides }}
						<a href="{{ .slides.url }}" target="_blank" class="talk-link-{{ $index }} talk-link btn">
							{{ .slides.title | default "Slides" }}
						</a>
						{{ end }}
						{{ if .comingsoon }}
							Coming soon...
						{{ end }}
						{{ if not (or (or .comingsoon .video) .slides) }}
						<div style="padding: 2px;" />
						{{ end }}

					</div>

					<hr class="seperating_line">

				</div>
			</div>
		</div>

	</div>
	{{ end }}
</section>
{{ end }}
